<?php

	namespace Emailqueue;
	
	define("EMAILQUEUE_DB_HOST", "127.0.0.1");
	define("EMAILQUEUE_DB_UID", "username");
	define("EMAILQUEUE_DB_PWD", "password");
	define("EMAILQUEUE_DB_DATABASE", "emailqueue");

?>